<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="DataBase.Properties.Settings.pegasoConnectionString" connectionString="Data Source=ARCHERAIR\SQLEXPRESS;Initial Catalog=pegaso;Persist Security Info=True;User ID=pegaso;Password=pegaso" providerName="System.Data.SqlClient" />
    <add name="pegasoEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ARCHERAIR\SQLEXPRESS;initial catalog=pegaso;persist security info=True;user id=pegaso;password=pegaso;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>